@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var identity = (System.Security.Claims.ClaimsIdentity)User.Identity;
    var ClaimKey_UsuarioNombre = identity.FindFirst("UsuarioNombre").Value;
    var ClaimKey_Usuario = identity.FindFirst("Usuario").Value;

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name })
        .ToList();
}

<script src="~/lib/msdropdown/jquery.dd.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/flags.css" />
<link rel="stylesheet" type="text/css" href="~/css/dd.css" />

<style type="text/css">
    .flag {
        padding: 0 !important;
        margin: -3px 11px 0px 10px !important;
        width: 16px !important;
        height: 9px !important;
    }
    #language li{
        display:block;
    }
</style>

<div class="row border-bottom" id="navbar" style="display:none">
    <nav class="navbar navbar-fixed-top white-bg " role="navigation" style="margin-bottom: 0;height:60px;">

        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href=""><i class="fa fa-bars"></i> </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown" style="margin-right: 5px;" title="Pedidos Pendientes">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><i class="fal fa-file-alt fa-lg"></i><span id="Top_Notify0" class="label label-warning" style="visibility:hidden;background-color:orangered"></span></a>
                <ul class="dropdown-menu dropdown-alerts dropdown-menu-right">
                    @{
                        var NumCan = 0;
                    }
                    @if (ViewBag.ValoresTopNavBar.OrdersTocancel.Count > 5)
                    {
                        NumCan = 5;
                    }
                    else
                    {
                        NumCan = ViewBag.ValoresTopNavBar.OrdersTocancel.Count;
                    }
                    @for (var i = 0; i < NumCan; i++)
                    {
                        if (i > 0)
                        {
                            <li class="dropdown-divider"></li>
                        }
                        <li>
                            <a class="dropdown-messages-box TopNotify1" style="padding-left: 15px;padding-right: 15px;line-height: 22px;" id="TopNotify1_@ViewBag.ValoresTopNavBar.OrdersTocancel[i].Order">
                                <div class="media-body">
                                    <small class="text-muted float-right"><strong>@String.Format("{0:dd/MM/yyyy}", ViewBag.ValoresTopNavBar.OrdersTocancel[i].ODate)</strong></small>
                                    <strong>Pedido: @ViewBag.ValoresTopNavBar.OrdersTocancel[i].Order</strong><br>

                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Pedido:</small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.OrdersTocancel[i].Order.ToUpper()</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Cliente: </small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.OrdersTocancel[i].Name @ViewBag.ValoresTopNavBar.OrdersTocancel[i].Surnames</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block TotalNavBar">
                            <a asp-controller="Orders" asp-action="Index">
                                <i class="fal fa-envelope fa-lg"></i> <strong> Ver pedidos para cancelar (@ViewBag.ValoresTopNavBar.OrdersTocancel.Count)</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="dropdown" style="margin-right: 5px;" title="Pedidos Pendientes">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><i class="fal fa-file-alt fa-lg"></i><span id="Top_Notify1" class="label label-warning" style="visibility:hidden"></span></a>
                <ul class="dropdown-menu dropdown-alerts dropdown-menu-right">
                    @{
                        var NumPen = 0;
                    }
                    @if (ViewBag.ValoresTopNavBar.Pedidos1.Count > 5)
                    {
                        NumPen = 5;
                    }
                    else
                    {
                        NumPen = ViewBag.ValoresTopNavBar.Pedidos1.Count;
                    }
                    @for (var i = 0; i < NumPen; i++)
                    {
                        if (i > 0)
                        {
                            <li class="dropdown-divider"></li>
                        }
                        <li>
                            <a class="dropdown-messages-box TopNotify1" style="padding-left: 15px;padding-right: 15px;line-height: 22px;" id="TopNotify1_@ViewBag.ValoresTopNavBar.Pedidos1[i].Order">
                                <div class="media-body">
                                    <small class="text-muted float-right"><strong>@String.Format("{0:dd/MM/yyyy}", ViewBag.ValoresTopNavBar.Pedidos1[i].ODate)</strong></small>
                                    <strong>Pedido: @ViewBag.ValoresTopNavBar.Pedidos1[i].Order</strong><br>

                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Pedido:</small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.Pedidos1[i].Order.ToUpper()</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Cliente: </small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.Pedidos1[i].Name @ViewBag.ValoresTopNavBar.Pedidos1[i].Surnames</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block TotalNavBar">
                            <a asp-controller="Orders" asp-action="Index">
                                <i class="fal fa-envelope fa-lg"></i> <strong> Ver pedidos pendientes (@ViewBag.ValoresTopNavBar.Pedidos1.Count)</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="dropdown" style="margin-right: 5px;" title="pedidos Pagados">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><i class="fal fa-file-alt fa-lg"></i><span id="Top_Notify2" class="label label-warning" style="visibility:hidden"></span></a>
                <ul class="dropdown-menu dropdown-alerts dropdown-menu-right">
                    @{
                        var NumPag = 0;
                    }
                    @if (ViewBag.ValoresTopNavBar.Pedidos2.Count > 5)
                    {
                        NumPag = 5;
                    }
                    else
                    {
                        NumPag = ViewBag.ValoresTopNavBar.Pedidos2.Count;
                    }
                    @for (var i = 0; i < NumPag; i++)
                    {
                        if (i > 0)
                        {
                            <li class="dropdown-divider"></li>
                        }
                        <li>
                            <a class="dropdown-messages-box TopNotify2" style="padding-left: 15px;padding-right: 15px;line-height: 22px;" id="TopNotify2_@ViewBag.ValoresTopNavBar.Pedidos2[i].Order">
                                <div class="media-body">
                                    <small class="text-muted float-right"><strong>@String.Format("{0:dd/MM/yyyy}", ViewBag.ValoresTopNavBar.Pedidos2[i].ODate)</strong></small>
                                    <strong>Pedido: @ViewBag.ValoresTopNavBar.Pedidos2[i].Order</strong><br>

                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Pedido:</small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.Pedidos2[i].Order.ToUpper()</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Cliente: </small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.Pedidos2[i].Name @ViewBag.ValoresTopNavBar.Pedidos2[i].Surnames</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block TotalNavBar">
                            <a asp-controller="Orders" asp-action="Index">
                                <i class="fal fa-envelope fa-lg"></i> <strong> Ver pedidos pagados (@ViewBag.ValoresTopNavBar.Pedidos2.Count)</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="dropdown" style="margin-right: 5px;" title="Todos">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><i class="fal fa-file-alt fa-lg"></i><span id="Top_Notify3" class="label label-warning" style="visibility:hidden"></span></a>
                <ul class="dropdown-menu dropdown-alerts dropdown-menu-right">
                    @{
                        var NumTTL = 0;
                    }
                    @if (ViewBag.ValoresTopNavBar.Pedidos3.Count > 5)
                    {
                        NumTTL = 5;
                    }
                    else
                    {
                        NumTTL = ViewBag.ValoresTopNavBar.Pedidos3.Count;
                    }
                    @for (var i = 0; i < NumTTL; i++)
                    {
                        if (i > 0)
                        {
                            <li class="dropdown-divider"></li>
                        }
                        <li>
                            <a class="dropdown-messages-box Top_Notify3" style="padding-left: 15px;padding-right: 15px;line-height: 22px;" id="Top_Notify3_@ViewBag.ValoresTopNavBar.Pedidos3[i].Order">
                                <div class="media-body">
                                    <small class="text-muted float-right"><strong>@String.Format("{0:dd/MM/yyyy}", ViewBag.ValoresTopNavBar.Pedidos3[i].ODate)</strong></small>
                                    <strong>Pedido: @ViewBag.ValoresTopNavBar.Pedidos3[i].Order</strong><br>

                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Pedido:</small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.Pedidos3[i].Order.ToUpper()</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <small class="">Cliente: </small>
                                        </div>
                                        <div class="col">
                                            <small class="">@ViewBag.ValoresTopNavBar.Pedidos3[i].Name @ViewBag.ValoresTopNavBar.Pedidos3[i].Surnames</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block TotalNavBar">
                            <a asp-controller="Orders" asp-action="Index">
                                <i class="fal fa-envelope fa-lg"></i> <strong> Ver todos los pedidos (@ViewBag.ValoresTopNavBar.Pedidos3.Count)</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="margin-right: 5px;">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><i class="fal fa-bell fa-lg"></i>  <span id="Top_Notify4" class="label label-primary" style="visibility:hidden"></span></a>
                <form id="FormAvisos" method="post" asp-controller="Orders" asp-action="Index">
                    <ul class="dropdown-menu dropdown-messages dropdown-menu-right ULNotificaciones">
                    </ul>
                </form>
            </li>

            <li class="dropdown" style="margin-right: 5px;">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><i class="fa fa-envelope"></i>  <span id="Top_Notify5" class="label label-primary" style="visibility:hidden;background-color:#1ab394;"></span></a>
                <ul class="dropdown-menu dropdown-alerts dropdown-menu-right" style="width: 450px">
                    @{
                        var NumMesPen = 0;
                    }
                    @if (ViewBag.ValoresTopNavBar.MessagesPending.Count > 5)
                    {
                        NumMesPen = 5;
                    }
                    else
                    {
                        NumMesPen = ViewBag.ValoresTopNavBar.MessagesPending.Count;
                    }
                    @for (var i = 0; i < NumMesPen; i++)
                    {
                        if (i > 0)
                        {
                            <li class="dropdown-divider"></li>
                        }
                        <li>
                            <a class="dropdown-messages-box Top_Notify5" style="padding-left: 15px;padding-right: 15px;line-height: 22px;" id="TopNotify_@ViewBag.ValoresTopNavBar.MessagesPending[i].Id">
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col">
                                            <span class=""><strong>Fecha: @ViewBag.ValoresTopNavBar.MessagesPending[i].Date</strong></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class=""><strong>De: </strong>@ViewBag.ValoresTopNavBar.MessagesPending[i].From (@ViewBag.ValoresTopNavBar.MessagesPending[i].Address)</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class=""><strong>Asunto: </strong>@ViewBag.ValoresTopNavBar.MessagesPending[i].Subject</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                    <li>
                        <div class="text-center link-block TotalNavBar">
                            <a href="https://webmail.loteriaselchorrillo.es" target="new"><i class="fa fa-envelope"></i> <strong>Ver mensajes no leidos (@ViewBag.ValoresTopNavBar.MessagesPending.Count) <strong>ventas@loteriaselchorrillo.es</strong></strong></a>

                        </div>
                    </li>
                </ul>
            </li>


            <li class="dropdown" style="margin-right: 5px;">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span id="Top_Notify6" class="label label-primary" style="        visibility: hidden;
        background-color: #1c84c6;"></span>
                </a>
                <ul class="dropdown-menu dropdown-alerts dropdown-menu-right" style="width: 450px">
                    @{
                        var NumMes = 0;
                    }
                    @if (ViewBag.ValoresTopNavBar.Messages.Count > 5)
                    {
                        NumMes = 5;
                    }
                    else
                    {
                        NumMes = ViewBag.ValoresTopNavBar.Messages.Count;
                    }
                    @for (var i = 0; i < NumMes; i++)
                    {
                        if (i > 0)
                        {
                            <li class="dropdown-divider"></li>
                        }
                        <li>
                            <a class="dropdown-messages-box Top_Notify5" style="padding-left: 15px;padding-right: 15px;line-height: 22px;" id="TopNotify_@ViewBag.ValoresTopNavBar.Messages[i].Id">
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col">
                                            <span class=""><strong>Fecha: @ViewBag.ValoresTopNavBar.Messages[i].Date</strong></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class=""><strong>De: </strong>@ViewBag.ValoresTopNavBar.Messages[i].From (@ViewBag.ValoresTopNavBar.Messages[i].Address)</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class=""><strong>Asunto: </strong>@ViewBag.ValoresTopNavBar.Messages[i].Subject</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                    <li>
                        <div class="text-center link-block TotalNavBar">
                            <a href="https://webmail.loteriaselchorrillo.es" target="new"><i class="fa fa-envelope"></i> <strong>Ver Todos los Messages (@ViewBag.ValoresTopNavBar.Messages.Count) <strong>ventas@loteriaselchorrillo.es</strong></strong></a>

                        </div>
                    </li>
                </ul>
            </li>

            <li class="divider-vertical" style="height:39px"> </li>

            <li class="" id="language" style="text-align:left; margin-right: 5px;">
                <form id="selectLanguage" method="post" asp-controller="Profiles" asp-action="SetLanguage" role="form" asp-route-returnUrl="@Context.Request.Path"
                      class="form-horizontal">
                    <select name="cultureUI" id="cultureNavTop" class="form-control selectpicker" onchange="this.form.submit();" style="width:90px;position:relative!important; display:none; border:none;" asp-for="@requestCulture.RequestCulture.UICulture.Name">
                        <option value="es" data-image="../../images/msdropdown/icons/blank.gif" data-imagecss="flag es" data-title="ES">ES</option>
                        <option value="en" data-image="../../images/msdropdown/icons/blank.gif" data-imagecss="flag us" data-title="EN">EN</option>
                    </select>
                </form>
            </li>

            <li class="divider-vertical UserName"> <span id="Top_UserName" class="text-muted" data-i18n="topnav.welcometext">@ClaimKey_UsuarioNombre</span> </li>

            <li class="dropdown">
                <a class="dropdown-toggle count-info PerfilImg" data-toggle="dropdown" href="#">
                    <img id="TopPerfil" alt="LEC" class="rounded-circle" src="@Url.Content(ViewBag.ImagenPerfil)" />
                </a>
                <ul class="dropdown-menu dropdown-perfil dropdown-menu-right">
                    <li><a class="dropdown-item" href="@Url.Action("Index", "Profiles")"><i class="fal fa-user"></i><span class="ml-3">Editar perfil</span></a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i class="fal fa-sign-out-alt"></i><span class="ml-3">Desconectar</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<script>

    $(document).ready(function () {

        $("#cultureNavTop").msDropdown();
        $("#cultureNavTop_msdd").css("display", "block");


        $(".TopNotify1").on("click", function (event) {
            var _Id = $(this).attr('id');
            var _Ped = _Id.replace("TopNotify1_", "");
            window.location.href = "/Orders" + _Ped;
        });

        $(".TopNotify2").on("click", function (event) {
            var _Id = $(this).attr('id');
            var _Ped = _Id.replace("TopNotify2_", "");
            window.location.href = "/Orders" + _Ped;
        });

        $(".Top_Notify3").on("click", function (event) {
            var _Id = $(this).attr('id');
            var _Ped = _Id.replace("TopNotify2_", "");
            window.location.href = "/Orders" + _Ped;
        });


        $(".dropdown-messages-box").click(function () {
            $('#FormMensajes').append('<input type="hidden" name="Usuario" value="' + $(this).attr('Usuario') + '" />');
            $("#FormMensajes").submit();
        });

        if ('@ViewBag.ValoresTopNavBar' != null)
        {

            var NumPedCan = @ViewBag.ValoresTopNavBar.OrdersTocancel.Count;
            if ($("#Top_Notify0").length > 0) {
                if (NumPedCan > 0)
                {
                    $("#Top_Notify0").css('visibility', 'visible');
                    $("#Top_Notify0").html(NumPedCan);
                }
                else
                {
                    $("#Top_Notify0").css('visibility', 'hidden');
                }
            }

            var NumPedidos1 = @ViewBag.ValoresTopNavBar.Pedidos1.Count;
            if ($("#Top_Notify1").length > 0) {
                if (NumPedidos1 > 0)
                {
                    $("#Top_Notify1").css('visibility', 'visible');
                    $("#Top_Notify1").html(NumPedidos1);
                }
                else
                {
                    $("#Top_Notify1").css('visibility', 'hidden');
                }
            }

            var NumPedidos2 = @ViewBag.ValoresTopNavBar.Pedidos2.Count;
            if (NumPedidos2 !== null && NumPedidos2 != undefined) {
                if ($("#Top_Notify2").length > 0) {
                    if (NumPedidos2 > 0) {
                        $("#Top_Notify2").css('visibility', 'visible');
                        $("#Top_Notify2").html(NumPedidos2);
                    } else {
                        $("#Top_Notify2").css('visibility', 'hidden');
                    }
                }
            }

            var NumPedidos3 = @ViewBag.ValoresTopNavBar.Pedidos3.Count;
            if (NumPedidos3 !== null && NumPedidos3 != undefined) {
                if ($("#Top_Notify3").length > 0) {
                    if (NumPedidos3 > 0) {
                        $("#Top_Notify3").css('visibility', 'visible');
                        $("#Top_Notify3").html(NumPedidos3);
                    } else {
                        $("#Top_Notify3").css('visibility', 'hidden');
                    }
                }
            }

            var N_Messages = @ViewBag.ValoresTopNavBar.MessagesPending.Count;
            if ($("#Top_Notify5").length > 0) {
                if (N_Messages > 0) {
                    $("#Top_Notify5").css('visibility', 'visible');
                    $("#Top_Notify5").html(N_Messages);
                } else {
                    $("#Top_Notify5").css('visibility', 'hidden');
                }
            }

            var N_MessagesPen = @ViewBag.ValoresTopNavBar.Messages.Count;
            if ($("#Top_Notify6").length > 0) {
                if (N_MessagesPen > 0) {
                    $("#Top_Notify6").css('visibility', 'visible');
                    $("#Top_Notify6").html(N_MessagesPen);
                } else {
                    $("#Top_Notify6").css('visibility', 'hidden');
                }
            }
        }

        $("#navbar").css("display", "block");

    });

</script>